# ignore user-specific cache files and folders
**/.DS_Store
**/__pycache__/

# ignore all contents in data subdirectories (but keep folders)
data/raw/*
!data/raw/.gitkeep

data/train/*
!data/train/.gitkeep

data/test/*
!data/test/.gitkeep
