# core dataset handling
datasets

# machine learning
torch

# audio processing
soundfile
torchaudio

# data manipulation
numpy
pandas
scipy

# miscellaneous
matplotlib
tqdm
jupyter
ipython
pyyaml

# NO LONGER IN USE
# ffmpeg
# torchcodec
# librosa
