# core dataset handling
datasets

# audio processing
soundfile

# data manipulation
numpy
pandas
scipy

# machine learning
torch

# miscellaneous
matplotlib
tqdm
jupyter
ipython

# NO LONGER IN USE
# ffmpeg
# torchcodec
# torchaudio
# librosa
