# core dataset handling
datasets

# machine learning
torch

# audio processing
torchaudio
soundfile
librosa

# data manipulation
numpy
pandas
scipy

# miscellaneous
matplotlib
tqdm
jupyter
ipython
pyyaml
mir-eval
museval

# NO LONGER IN USE
# ffmpeg
# torchcodec
